<mat-toolbar class="bgHeader">
  <ul>
    <a routerLink="registerStudent">Register Student</a>
  </ul>
  <ul>
    <a routerLink="registerTeacher">Register Teacher</a>
  </ul>
  <ul>
    <a routerLink="registerSubject">Register Subject</a>
  </ul>
  <ul>
    <a routerLink="registerCourse">Register Grade Level</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a mat-button routerLink="signUp">Sign Up</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button>Logout</a>
  </ul>
</mat-toolbar>
